---
const title = "Hello world !!";
const imageError =
  "https://www.publicdomainpictures.net/pictures/190000/nahled/sad-dog-1468499671wYW.jpg";
const res = await fetch("https://dog.ceo/api/breeds/image/random");
const response = await res.json();
const dogImageUrl = response?.message ?? imageError;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>{title}</h1>
    <img
      src={dogImageUrl}
      alt="Random Dog"
      style="max-width: 400px; height: auto;"
    />
    <div>
      <button id="cat-image-button">Get Cat Image</button>
    </div>
    <div>
      <img id="cat-image" style="max-width: 400px; height: auto;" />
    </div>
  </body>
</html>
<script>
  const button = document.getElementById("cat-image-button");
  const imageEl = document.getElementById("cat-image") as HTMLImageElement;

  if (button && imageEl) {
    button.addEventListener("click", async () => {
      const res = await fetch("https://api.thecatapi.com/v1/images/search");
      const data = await res.json();
      imageEl.src = data[0].url;
    });
  }
</script>
